<div class="container">
  <div class="app--container">
    <header>
      <div>
        <img src="assets/images/logo.png" alt="RoboBot" title="RoboBot">
      </div>
    </header>
    <div class="conversation--container" #conversationContainer>
      <div *ngFor="let log of conversationLog" class="conversation--container__relay" [class]="log.type">
        <div class="question--container__log" [innerHTML]="log.text">
        </div>
        <div class="label">
          {{ log.type == 'user' ? 'You' : name }}: {{ log.time | date: 'shortTime' }}
          <span class="pointer" *ngIf="log.link" (click)="externalQuery(log.question)">[Ask Question]</span>
        </div>
      </div>

      <div *ngIf="answering" class="conversation--container__relay bot">
        <div class="question--container__log">
          <div class="question--container__log--typing">
            <div class="question--container__log--dot"></div>
            <div class="question--container__log--dot"></div>
            <div class="question--container__log--dot"></div>
          </div>
        </div>
        <div class="conversation--container__is-typing">
          {{ name }} is typing...
        </div>
      </div>

    </div>
    <div class="question--container">
      <input
        type="text"
        #inputRef
        [(ngModel)]="question"
        (keydown.enter)="sendQuestion()" placeholder="Ask a question..."
        autocomplete="false"
      >
      <button (click)="sendQuestion();inputRef.focus()">Send</button>
      <button (click)="resetConversation()" class="question--container__reset">Reset</button>
    </div>
  </div>
</div>
