.container {
  width: calc(100 - 10px);
  height: calc(100% - 40px);
  padding:20px;
  background: linear-gradient(180deg, #191f34, #151926);
}
.app--container {
  height: calc(100% - 40px);
  overflow: hidden;
  width:800px;
  margin:0 auto;
  border: 1px solid #1a2036;
  border-radius:8px;
}

header {
  height: 40px;
  background: linear-gradient(90deg, #282f4c, #424962);
  padding: 12px;
  color: white;
}

header img {
  height: 40px;
}


.conversation--container {
  height: calc(100% - 148px);
  overflow-y: scroll;
  position: relative;
  padding:18px 18px 0 18px;
  background-color:white;
}

.question--container {
  height: 60px;
  padding: 4px 12px 4px 12px;
  background: linear-gradient(90deg, #282f4c, #424962);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.question--container > input[type="text"] {

  flex-grow: 9;
  border: 1px solid #3366cc;
  font-size: 18px;
  padding: 6px;
  border-radius: 4px;
  font-weight: 300;
}

.question--container > button {
  flex-grow: 1;
  height: 34px;
  border: 1px solid #3366cc;
  border-radius: 4px;
  background-color: #3366cc;
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin-left: 4px;
}

.conversation--container__relay.bot {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6px;
  flex-direction: column;
}

.conversation--container__relay.user {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 6px;
  flex-direction: column;
}

.conversation--container__is-typing {
  font-size:14px;
  padding:0 0 0 8px;
}

.bot > div:first-child {
  background: linear-gradient(145deg, #adfb9c, #5bcc42);
  padding: 12px;
  border-radius: 12px 12px 12px 0;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user > div:first-child {
  background: linear-gradient(235deg, #9cc5fb, #5187f8);
  padding: 12px;
  border-radius: 12px 12px 0 12px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user > div:last-child, .bot > div:last-child {
  display: block;
  font-size:12px;
  margin-top:8px;
}

input[type="text"]:focus-visible {
  outline: 3px solid #8c9ac9;

}

