<div class="container">
  <div class="app--container">
    <header>
      <img src="assets/images/logo.png" alt="RoboBot" title="RoboBot">
    </header>
    <div class="conversation--container" #conversationContainer>
      <div *ngFor="let log of conversationLog" class="conversation--container__relay" [class]="log.type">
        <div class="question--container__log" [innerHTML]="log.text">
        </div>
        <div class="label">
          {{ log.type == 'user' ? 'You' : name }}: {{ log.time | date: 'shortTime' }}
        </div>
      </div>
      <div *ngIf="answering" class="conversation--container__is-typing">
        {{ name }} is typing...
      </div>
    </div>
    <div class="question--container">
      <input type="text" #inputRef [(ngModel)]="question" (keydown.enter)="sendQuestion()">
      <button (click)="sendQuestion()">Send</button>
    </div>
  </div>
</div>



